In [1]:
import numpy as np
import pandas as pd

In [3]:
file=pd.read_excel('product.xlsx')

In [4]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Product_ID                          10000 non-null  object
 1   Category                            10000 non-null  object
 2   Subcategory                         10000 non-null  object
 3   Price                               10000 non-null  int64
 4   Brand                               10000 non-null  object
 5   Average_Rating_of_Similar_Products  10000 non-null  float64
 6   Product_Rating                      10000 non-null  float64
 7   Customer_Review_Sentiment_Score     10000 non-null  float64
 8   Holiday                             10000 non-null  object
 9   Season                              10000 non-null  object
 10  Geographical_Location               10000 non-null  object
 11  Similar_Product_List                10000 non-null  object
 12  Probability_of_Recommendation       10000 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 1015.8+ KB

In [5]:
file.describe()

,Price,Average_Rating_of_Similar_Products,Product_Rating,Customer_Review_Sentiment_Score,Probability_of_Recommendation
count,10000.00000,10000.00000,10000.000000,10000.000000,10000.000000
mean,2552.36510,3.51216,3.502610,0.498616,0.551110
std,1413.52875,0.87081,0.872801,0.289370,0.260091
min,100.00000,2.00000,2.000000,0.000000,0.100000
25%,1325.00000,2.80000,2.700000,0.250000,0.330000
50%,2585.00000,3.50000,3.500000,0.490000,0.550000
75%,3755.00000,4.30000,4.300000,0.750000,0.780000
max,5000.00000,5.00000,5.000000,1.000000,1.000000

In [7]:
file.isnull().sum()

Product_ID                            0
Category                              0
Subcategory                           0
Price                                 0
Brand                                 0
Average_Rating_of_Similar_Products    0
Product_Rating                        0
Customer_Review_Sentiment_Score       0
Holiday                               0
Season                                0
Geographical_Location                 0
Similar_Product_List                  0
Probability_of_Recommendation         0
dtype: int64